body {
    font-family: Arial, sans-serif;
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
}

.container {
    width: 1900px;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px 20px;
    border-bottom: 3px solid #333;
    font-size: 24px;
}

header .logo {
    position: relative;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-right: 580px;
}

header .logo img {
    width: 100px;
    margin-right: 15px;
    padding: 5px 24px 0 0;
}

header .logo h3 {
    margin: 0;
    font-size: 30px;
}

header .made {
    float: right;
    display: inline;
    margin: 10px 60px 0 0; 
    font-size: 16px; 
    padding-top: 85px;
}

.content {
    display: flex;
    padding-top: 20px;
}

.left-section, .right-section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.left-section {
    border-right: 3px solid #333;
}

.upload-area {
    display: flex;
    flex-direction: column;
	
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 450px;
}


.upload-area-buttons {
    display: flex;
	flex-grow: 1;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    gap: 20px;
}




.upload-area button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4a90e2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 160px;
}

.log-text {
    margin-top: 35px;
    font-size: 20px;
    text-align: center;
}

.log-text span {
    font-size: 30px;
}

.spices-list {
    margin-top: 60px;
    font-size: 25px;
    text-align: center;
}

.spices-list span {
    font-size: 18px;
    margin: 40px 10px 20px 0;
}

.recipe-instructions {
    font-size: 23px;
    line-height: 1.6;
    margin-left: 30px;
}

.recipe-instructions p {
    font-size: 30px;
}

.recipe-instructions li {
    margin: 20px 0 30px 0;
}





.button {
    background-color: #6c7ae0;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
	text-align: center;
}


.button:hover {
    background-color: #5464d2;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.button:active {
    background-color: #3f51b5;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.button.disabled {
	pointer-events: none;
	background-color: #6c6c6c;
}