.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
}

#dropBtn {
    border: none;
    background: none;
    text-decoration: none;
}

#uploadForm {
    width: 100%;
    max-width: 400px;
    padding: 50px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: #999;
}

#dropArea img {
    max-width: 100%;
    margin-top: 20px;
}

#fileInput {
    display: none;
}
